.body {
  font-family: 'Roboto', sans-serif;
}

h2 {
  padding:0;
  margin: 4px;
}

.swagger-ui {
  width:80%;
  margin:auto;
}

.swagger-ui .topbar {
  display:none;
}

.swagger-ui .scheme-container {
  background: none;
  box-shadow: none;
}
